<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>743204332177-24q17lh9um1smmaeprubdetsms3geor0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.743204332177-24q17lh9um1smmaeprubdetsms3geor0</string>
	<key>API_KEY</key>
	<string>AIzaSyC3eWDrzf7nPitboJxXNl8IPdFpriNcRjE</string>
	<key>GCM_SENDER_ID</key>
	<string>743204332177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BABYB.Fitness</string>
	<key>PROJECT_ID</key>
	<string>fitness-714d6</string>
	<key>STORAGE_BUCKET</key>
	<string>fitness-714d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743204332177:ios:d79f6e93b768639ce99530</string>
</dict>
</plist>